[user]
	name = Rob Wilson
	email = roobert@gmail.com
[color]
	ui = true
[alias]
  co = checkout
  ci = commit
  s = status
  st = status
  b = branch
  br = branch
  l = log --pretty=format:\"%ad [%an] %s%d\" --graph --date=short
  lo = log --pretty=format:\"%ad [%an] %s%d\" --graph --date=short
