[user]
	name = Rob Wilson
	email = roobert@gmail.com
[color]
	ui = always
[color "diff"]
[alias]
	co = checkout
	ci = commit
	s = status
	st = status
	b = branch
	br = branch
	l = log --pretty=format:\"%ad [%an] %s%d\" --graph --date=short
	lo = log --pretty=format:\"%ad [%an] %s%d\" --graph --date=short
	hub = repo github
  ss = stash save
  sp = stash pop
  upstream-set = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[core]
	excludesfile = ~/.gitignore
	pager = less -F -X
[push]
	default = current
[include]
	path = ~/.gitconfig.gitrepo

# set this in .gitconfig.gitrepo to avoid being commited to github..
# tokens: https://github.com/settings/tokens
#[gitrepo "github"]
#	token = 

[color "diff"]
  meta = white bold
  frag = blue bold
  old = red bold
  new = green bold
